name: Kite Bot Scheduler

on:
  schedule:
    - cron: '20 4 * * 1-5'
    - cron: '0 8 * * 1-5'
    - cron: '30 13 * * 1-5'

  workflow_dispatch:

jobs:
  run-bot:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        run: python Auto_multy_kiteconnect.py
